<header class="header">
    <div class="logo-container">
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/Logo.png') }}" alt="Logo" class="logo">
        </a>
    </div>
    <nav>
        {% include 'include/menu.html.twig' %}
    </nav>
</header>
