{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tableau de Bord Administrateur</h1>
    {# Ici, ajoutez le contenu du tableau de bord, comme les statistiques, les listes d'utilisateurs, etc. #}
{% endblock %}