{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord Administrateur{% endblock %}

{% block body %}
    <h1>Tableau de Bord Administrateur</h1>
    <p>Nombre d'utilisateurs: {{ userCount }}</p>
    <!-- Autres données dynamiques -->
{% endblock %}
