{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des Avocats</h1>
<ul>
    {% for avocat in avocats %}
        <li>{{ avocat.nom }} {{ avocat.prenom }} - {{ avocat.email }}</li>
    {% endfor %}
</ul>
{% endblock %}
