{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi{% endblock %}

{% block body %}
    <h1>Paiement Réussi</h1>
    <p>Merci pour votre paiement. Votre rendez-vous est maintenant confirmé.</p>
    <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
{% endblock %}
