<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Avocats & Facile{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <header>
        {% include "include/header.html.twig" %}
    </header>

    <nav>
        {% include "include/menu.html.twig" %}
    </nav>

    <div class="container mt-3">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>

    <main>
        {% block body %}{% endblock %}
    </main>

    {% include "include/footer.html.twig" %}
    {% include "include/flash.html.twig" %}

    <!-- Vos scripts JavaScript ici -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>
