{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs de la Spécialité: {{ specialiteId }}</h1>
    <div>
        {% for user in users %}
            <p>{{ user.nom }} {{ user.prenom }} - {{ user.specialite.nom }}</p>
        {% else %}
            <p>Aucun utilisateur trouvé pour cette spécialité.</p>
        {% endfor %}
    </div>
{% endblock %}
