{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs de la Spécialité: {{ specialiteId }}</h1>
    <div>
        {% for avocat in avocats %}
            <p>{{ avocat.nom }} {{ avocat.prenom }} - {{ avocat.specialite.nom }}</p>
        {% else %}
            <p>Aucun avocat trouvé pour cette spécialité.</p>
        {% endfor %}
    </div>
{% endblock %}
